name: Docker-tfcenter-build

on:
  workflow_dispatch:

jobs:
  build-1: #流程1
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        with:
          platforms: arm64,amd64

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
          
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_REGISTRY_USER }}
          password: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}
          

          
      - name: Build and push Docker image
        run: docker buildx build --platform linux/arm64,linux/amd64 -t haoxuan8855/tfcenter:latest --push .
          
      - name: Logout from Docker Hub
        run: docker logout
 
